html, body {
    margin: 0;
    padding: 0;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.players {
    display: flex;
    justify-content: space-around;
}

.buttons {
    margin-top: 40px;
}

#play-btn {
    margin-left: 120px;
    margin-right: 120px;
}